@tailwind base;
@tailwind components;
@tailwind utilities;

.blue {
  background-color: blue;
}
.violet {
  background-color: violet;
}
.pink {
  background-color: pink;
}
.yellow {
  background-color: yellow;
}
.yellowgreen {
  background-color: yellowgreen;
}
.orange {
  background-color: orange;
}
.white {
  background-color: white;
}
.purple {
  background-color: purple;
}
.red {
  background-color: red;
}
.green {
  background-color: green;
}
.lightblue {
  background-color: lightblue;
}
.darkblue {
  background-color: darkblue;
}
.coral {
  background-color: coral;
}
.grey {
  background-color: grey;
}

@layer base {
  * {
    @apply box-border list-none p-0 m-0 scroll-smooth;
  }

  body {
    @apply bg-primary-dark text-white min-h-screen font-inter;
  }

  .base-medium {
    @apply text-[16px] font-medium leading-[140%];
  }

  /* Left sidebar */
  .leftsidebar {
    @apply hidden md:flex px-6 py-10 flex-col justify-between min-w-[270px] min-h-dvh h-full bg-primary;
  }

  .leftsidebar-link {
    @apply rounded-lg base-medium hover:bg-primary-light transition;
  }

  /* Top bar */
  .topbar {
    @apply sticky top-0 z-50 md:hidden bg-primary w-full;
  }

  /* UTILITIES */
  .invert-white {
    @apply invert brightness-0 transition;
  }
}
